examples/n8n_workflow/boltdiy-n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f129f1a-6bc9-4a29-9223-664f551f98f7",
              "name": "image_prompt",
              "value": "=A dynamic, visually captivating Digital Monster trading card featuring a vibrant fantasy creature with a dramatic, energized aesthetic. The card has a sleek rectangular design with glowing, stylized edges that reflect elemental attributes like fire, water, electricity, earth, or dark energy, based on '{{ $json.body.parameters.element }}'. The central creature '{{ $json.body.parameters.monster_name }}' is rendered prominently, posed in an action stance, surrounded by swirling elemental effects or ambient magic glow matching its type. The background showcases an immersive environment consistent with the monster's habitat: fiery volcanic landscapes, deep mystical forests, underwater realms, thunderous skies, or shadowy terrains. Text elements are clear, stylish, and subtly glowing:  Top-left: Monster Name '{{ $json.body.parameters.monster_name }}'  Top-right: Level '{{ $json.body.parameters.level }}' or rarity icon '{{ $json.body.parameters.rarity }}'  Bottom-left: Attack '{{ $json.body.parameters.attack_points }}' and Defense '{{ $json.body.parameters.defense_points }}' stats, stylized with elemental icons  Bottom-right: Special Ability '{{ $json.body.parameters.special_ability }}' prominently displayed with subtle illumination. Typography is modern and fantasy-inspired, clearly legible, and accented with gentle glows and shadows. Include customizable additional visual options: '{{ $json.body.parameters.visual_effect }}', and incorporate user-specific custom instructions: '{{ $json.body.parameters.custom_instructions }}'. The card should exude collectible, high-quality artwork vibes, suitable for popular digital monster trading games.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        0
      ],
      "id": "552827ff-8fc6-4f3c-8f86-7eba808c8570",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c41a8091-d952-4f5a-ae24-3b0691bbce57",
              "name": "number_of_images",
              "type": "number",
              "value": 1
            },
            {
              "id": "00feec5a-19c8-43af-bf93-e0729d1391f8",
              "name": "quality_of_image",
              "type": "string",
              "value": "high"
            },
            {
              "id": "1b359a11-c05a-49c8-aa27-402b145fcbc1",
              "name": "size_of_image",
              "type": "string",
              "value": "1024x1024"
            },
            {
              "id": "6cf4ba85-d11a-48bb-9eaf-4084c9538d87",
              "name": "openai_image_model",
              "type": "string",
              "value": "=gpt-image-1"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "abe4055e-5efe-47b0-ac35-bb226f829e6e",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        260,
        0
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.openai_image_model }}"
            },
            {
              "name": "prompt",
              "value": "={{ $json.image_prompt }}"
            },
            {
              "name": "n",
              "value": "={{ $json.number_of_images }}"
            },
            {
              "name": "quality",
              "value": "={{ $json.quality_of_image }}"
            },
            {
              "name": "size",
              "value": "={{ $json.size_of_image }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2a19ac85-4686-4c84-a876-68e0cd641746",
      "name": "OpenAI - Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        480,
        0
      ],
      "typeVersion": 4.2,
      "credentials": {
        "openAiApi": {
          "id": "YyBslmwqkT89x8h6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "b3c4104e-57f2-4d1d-803e-f9265c87e105",
      "name": "Separate Image Outputs",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        700,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        940,
        0
      ],
      "id": "64ea79ce-3c76-4f44-bc60-3bebaf266ab9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "b64_json",
        "options": {}
      },
      "id": "5632ea02-7194-4ee5-a943-cd73cabe19e9",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        940,
        160
      ],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Image": {
      "main": [
        [
          {
            "node": "Separate Image Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate Image Outputs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  }
}